[Unit]
Description=Internet Online Monitor
Requires=network-online.target

[Service]
# --einterval N                         Check External IP Address every N --intervals
# --internet IP                         Internet IP address to ping [1.1.1.1]
# --interval N                          When online, perform check every N seconds [10]
# --noping                              Do not monitor internet up/down, only monitor External IP Address
# --ping IPlist                         Comma-separated list of additional IP addresses to ping [""]
# --pingwait N                          Wait N seconds for a ping response [1]
# --pingcount N                         Also do a ping test with N pings (see doc)
# --ddns                                Monitor External IP address for changes
# --action /full/path/to/action/script  Script to run for internet state changes/external IP changes/ping results
# --standby IP                          Secondary IP to check and action on for warm standby solutions
# --syslog                              Log to syslog
#
ExecStart=/usr/local/bin/internet-monitor --syslog --interval 10 --internet 1.1.1.1
User=root
StandardInput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
